[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==4.9.0"
robotframework = "==6.1"
robotframework-seleniumlibrary = "==6.1.0"

[requires]
python_version = "3.9"
